html.fixed {
  position: fixed;  /* 스크롤 고정 */
  overflow-y: scroll; /* 스크롤바 표시 */
  width: 100%; /* 스크롤바가 생겨도 레이아웃이 밀리지 않도록 */
}
body {
  height: 5000px; /* 스크롤 테스트를 위한 높이 */
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif; /* 적용 순서 */
  word-break: keep-all; /* 단어가 오버플로우 시 줄바꿈 처리를 어떻게 할 것인가 */
  color: #1d1d1d; /* 기본 글자색 */
}
a {color: #1d1d1d; text-decoration: none; /* 링크 밑줄 제거 */}
img {
  display: block; /* 이미지 주변의 여백 제거 */
  user-select: none; /* 이미지 선택 방지 */
  -webkit-user-drag: none; /* 드래그 방지 */
}

.inner {
  max-width: 980px; /* 최대 너비 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 0 20px; /* 좌우 패딩 */
  position: relative;
}

/* Btn */
.btn {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  height: 24px;
  padding: 0 10px; /* 좌우 패딩 */
  border: none; /* 테두리 제거 */
  border-radius: 100px;
  outline: none; /* 포커스 시 테두리 제거 */
  font-size: 11px;
  line-height: 1; 
  color: #fff; 
  background-color: #0071e3;
  cursor: pointer; /* 클릭 가능 커서 */
}
.btn:hover { opacity: .7;}
.btn:focus { box-shadow: 0 0 0 2px #8189f1; /* 포커스 시 테두리 효과(x y blur spread) */}


/* Header */
header {background-color: #3a3a3a; z-index: 3;}
header .inner {
  max-width: 1020px;
  margin: 0 auto; /* 가운데 정렬 */
  position: relative; /* 자식 요소의 절대 위치 설정을 위한 기준 */
}
header ul.menu {
  height: 44px; /* 메뉴 높이 */
  display: flex; 
  justify-content: space-between; /* 메뉴 아이템 사이에 공간을 균등하게 배치 */
}
header ul.menu > li {
  display: flex; /* 메뉴 아이템을 flexbox로 설정 */
  position: relative;
  transition: .4s; /* 호버 시 부드러운 전환 효과 */
}
  header ul.menu > li > a {
  padding: 0 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: .8; /* 투명도 */
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a, 
header ul.menu > li.basket-starter > a { 
  width: 14px;
  text-indent: -9999px; /* 텍스트를 화면 밖으로 이동시켜 안 보이게 만든다(대체 텍스트 처리) */
  background-repeat: no-repeat;
  background-position: center 13px;
}
header ul.menu > li.apple-logo > a {background-image: url(../images/header_apple.svg);}
header ul.menu > li.search-starter > a {background-image: url(../images/header_search.svg);}
header ul.menu > li.basket-starter > a {background-image: url(../images/header_bag.svg);}
header ul.menu > li > a:hover {opacity: 1; /* 호버 시 투명도 변경 */}

/* Header - Menu(Basket) */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  background-color: #fff;
  position: absolute; /* 메뉴가 다른 요소 위에 표시되도록 설정 */
  top: calc(100% + 5px); right: -6px;
  
  z-index: 5;

  visibility: hidden; /* 기본적으로 보이지 않도록 설정 */
  transition: .4s;
  opacity: 0;  
}
header .basket.show {
  visibility: visible; /* show 클래스가 추가되면 보이도록 설정 */
  opacity: 1;
}
header .basket .arrow {
  width: 20px; height: 10px;
  overflow: hidden;
  position: absolute;
  top: -9px; right: 12px;
}
header .basket .arrow::before {
  content: "";
  width: 12px; height: 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 1px; right: -30%;
  transform: rotate(45deg);
  transform-origin: 0 0; /* 회전 기준점 설정 */;
}
header .basket .message {
  padding: 30px 0; /* 상하 좌우 */
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}
header .basket ul { margin-top: 10px;}
header .basket ul li {border-top: 1px solid #d2d2d2;}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}
header .basket ul li a:hover {text-decoration: underline;}

/* Header - Menu(Search) */
header .search-wrap {
  position:absolute; top:0; left: 0;
  width: 100%; 
  visibility: hidden; /* 기본적으로 보이지 않도록 설정 => 이러면 animation을 줄 수 있음 */
  opacity: 0; 
  transition: .4s;
  z-index: 8;;
}
header .search {
  max-width: 680px;
  margin: 0 auto; /* 가운데 정렬 */
  position: relative;
}
header .search .shadow {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, .2); 
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%; height: 44px;
  padding: 0 40px;
  border: none; outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;  
  color: #fff;
}
header .search .search-icon {
  width: 40px; height: 44px;
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; top: 0; left: 0;
  opacity: .5;
}
header .search .search-closer {
  width: 40px; height: 44px;
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; top: 0; right: 0;
  opacity: .5;
  cursor: pointer; /* 클릭 가능 커서 */
}
header .search .search-closer:hover {opacity: 1;}
header .search .autocompletes {
  width: 100%;
  background-color: #fff;
  padding: 26px 40px 20px; /* 상 좌우 하 */
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  position: absolute; top: 44px; left:0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px; /* 상 우 하 좌(시계방향) */
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: #f5f5f5;
  color: #0071e3;
}
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px,0); /* 초기 위치 설정 */
}

header.searching ul.menu > li {
  opacity: 0; /* display:none 대신하여 사용하며 기존 헤더가 덮어버리기 때문에 문제X */
  transform: scale(.7); 
}
header.searching .search-wrap {
  visibility: visible; /* searching 클래스가 추가되면 보이도록 설정 */
  opacity: 1;
  transition-delay: .2s; /* 헤더가 사라진 후 검색창이 나타나도록 딜레이 설정 */
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s; /* 검색창이 나타날 때 딜레이 설정 */
  transform: translate(0, 0); /* 검색창이 나타날 때 위치 초기화 */
}

/* Navigation */
nav {
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px); /* 배경 흐림 효과 */
  border-bottom: 1px solid #d2d2d2;
  position: sticky; /* 스크롤 시 상단에 고정 */
  top: 0; /* 상단에 고정 */
  z-index: 3;
}
nav .inner {
  max-width: 1000px;
  height: 52px; /* 네비게이션 높이 */
  margin: 0 auto; /* width 존재 시 가운데 정렬 */
  display: flex; 
  align-items: center; 
}
nav h1 {
  flex-grow: 1; /* 제목이 남은 공간을 차지하도록 설정 */
  font-size: 22px;
  font-weight: 500; 
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li:hover a {
  color: #0071e3;
}
nav .menu li.active a {
  opacity: .5; /* 활성화된 메뉴 아이템의 투명도 */
  cursor: default; /* 기본 모양 */
}
nav .menu li.active:hover a { color: #1d1d1d;}