body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif; /* 적용 순서 */
  word-break: keep-all; /* 단어가 오버플로우 시 줄바꿈 처리를 어떻게 할 것인가 */
}
a {text-decoration: none; /* 링크 밑줄 제거 */}

/* Header */
header {background-color: #3a3a3a;}
header .inner {
  max-width: 1020px;
  margin: 0 auto; /* 가운데 정렬 */
}
header ul.menu {
  height: 44px; /* 메뉴 높이 */
  display: flex; 
  justify-content: space-between; /* 메뉴 아이템 사이에 공간을 균등하게 배치 */
}
header ul.menu > li {
  display: flex; /* 메뉴 아이템을 flexbox로 설정 */
  position: relative;
}
  header ul.menu > li > a {
  padding: 0 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: .8; /* 투명도 */
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a, 
header ul.menu > li.basket-starter > a { 
  width: 14px;
  text-indent: -9999px; /* 텍스트를 화면 밖으로 이동시켜 안 보이게 만든다(대체 텍스트 처리) */
  background-repeat: no-repeat;
  background-position: center 13px;
}
header ul.menu > li.apple-logo > a {background-image: url(../images/header_apple.svg);}
header ul.menu > li.search-starter > a {background-image: url(../images/header_search.svg);}
header ul.menu > li.basket-starter > a {background-image: url(../images/header_bag.svg);}
header ul.menu > li > a:hover {opacity: 1; /* 호버 시 투명도 변경 */}

/* Header - Menu(Basket) */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  background-color: #fff;
  position: absolute; /* 메뉴가 다른 요소 위에 표시되도록 설정 */
  top: calc(100% + 5px); right: -6px;

  display: none; /* 기본적으로 숨김 */
}
header .basket.show{
  display: block; /* show 클래스가 추가되면 표시 */
}
header .basket .arrow {
  width: 20px; height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px; right: 12px;
}
header .basket .arrow::before {
  content: "";
  width: 12px; height: 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 1px; right: -30%;
  transform: rotate(45deg);
  transform-origin: 0 0; /* 회전 기준점 설정 */;
}
header .basket .message {
  padding: 30px 0; /* 상하 좌우 */
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}
header .basket ul { 
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid #d2d2d2;
}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}
header .basket ul li a:hover {
  text-decoration: underline;
}