/* Content(HERO)  */
.hero {
  background-color: #f5f5f5;
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  width: 221px; height: 91px;
  background-image: url("../images/hero_ipad_text.png");
}
.hero figure {

}
.hero figure img {

}
.hero figure figcaption {

}
.hero figure figcaption .caption-camera {

}
.hero figure figcaption .caption-chip {

}
.hero figure figcaption .caption-storage {

}
.hero h2 {
  width: 738px; height: 145px;
  margin: 0 auto;
  background-image: url("../images/hero_headline.png");
}
.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%; 
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center; 
}
.hero .links {
  margin-top: 30px;
}

